<div class="container">
    <div class="card col-sm-4 col-md-4 offset-md-4 mt-5">
        <div class="card-body">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Great !</h4>
                <p>Thanks ..., you successfully use are Cpstore Services. We hope that you enjoy your online shopping with us.</p>
                <p class="mb-0">Please kindly give Your valuable feedback to us about services .</p>
            </div>
            <div>
                <button type="submit" class="btn btn-outline-dark float-left "> Countinue Shopping </button>
            </div>
            <div>
                <button type="submit" class="btn btn-outline-primary float-right "> Feedback </button>
            </div>
        </div>
    </div>
</div>