<div class="bg-img">
    <div class="container ">
        <div class="card-deck">
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2016/06/06/06/14/deal-of-the-day-1438905__340.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Coupon Id: 1</h5>
                    <h6 style="color: rgb(245, 92, 92);"><strong> Coupon Code :</strong>ABC123</h6>
                    <p class="card-text"><strong>10% off</strong> on your entire purchase<br> Coupon Expire Date : 2020-06-22</p>
                </div>
                <div class="card-footer">
                    <div>
                        <button type="submit" class="btn btn-outline-success float-right "> Apply Coupon </button>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-outline-danger float-left ">Remove Coupon </button>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2016/05/30/14/13/fifty-percent-off-1424818__340.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Coupon Id: 2</h5>
                    <h6 style="color: rgb(124, 230, 25);"><strong> Coupon Code :</strong> XYZ456</h6>
                    <p class="card-text"><strong>50% off</strong> discount voucher
                        <br> Coupon Expire Date : 2020-06-20</p>
                </div>
                <div class="card-footer">
                    <div>
                        <button type="submit" class="btn btn-outline-success float-right "> Apply Coupon </button>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-outline-danger float-left ">Remove Coupon </button>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2016/05/29/01/17/special-offer-1422378__340.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title ">Coupon Id: 3</h5>
                    <h6 style="color: rgb(0, 247, 255);"><strong> Coupon Code :</strong> LMN123</h6>
                    <p class="card-text">
                        <strong>20 % off </strong> gift voucher<br> Coupon Expire Date : 2020-06-11</p>
                </div>
                <div class="card-footer">
                    <div>
                        <button type="submit" class="btn btn-outline-success float-right "> Apply Coupon </button>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-outline-danger float-left ">Remove Coupon </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>